@import "../_vars.scss";

.FilterButton {
  margin: 8px 4px;
  padding: 10px 0;
  flex: 1 0 calc(50% - 8px);

  @media (min-width: $breakpoint-md) {
    flex: 0 1 auto;
    padding: 10px 15px;
  }

  &.is-all {
    flex-basis: calc(100% - 8px);

    @media (min-width: $breakpoint-md) {
      flex-basis: auto;
    }
  }

  &.is-active {
    background: #3b3754;
    border-color: #3b3754;
    color: white;

    &.is-html {
      background: $gradient-html;
      background-size: 120% 120%;
      background-position: 5% 50%;
      border-color: transparent;
    }

    &.is-css {
      background: $gradient-css;
      background-size: 120% 120%;
      background-position: 5% 50%;
      border-color: transparent;
    }

    &.is-javascript {
      background: $gradient-javascript;
      background-size: 120% 120%;
      background-position: 5% 50%;
      border-color: transparent;
      color: #794c22;
    }

    &.is-node {
      background: $gradient-node;
      background-size: 120% 120%;
      background-position: 5% 50%;
      border-color: transparent;
    }
  }
}
