@import "../_vars.scss";

.Filter {
  padding: 25px 0;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2%;

    @media (min-width: $breakpoint-md) {
      padding: 0 25px;
    }
  }
}
