@import "../_vars.scss";

.Header {
  background: url("../img/header.svg"),
    radial-gradient(
      circle at 52% 50%,
      #f0afef,
      #b977c1 35px,
      #593173,
      #20164d 160px,
      #12072d
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 450px;

  @media (min-width: $breakpoint-md) {
    background: url("../img/header.svg"),
      radial-gradient(
        circle at 50.5% 52%,
        #f0afef,
        #b977c1 40px,
        #593173,
        #20164d 195px,
        #12072d
      );
    background-size: 100% 100%;
    height: 550px;
  }

  &__tagline {
    text-align: center;
  }
}
