@import "../_vars.scss";

.Question {
  background: white;
  padding: 8% 5%;
  border-radius: 8px;
  box-shadow: 0 0.4rem 0.8rem -0.1rem rgba(0, 32, 128, 0.1), 0 0 0 1px #f0f2f7;
  line-height: 1.8;
  font-size: 18px;

  @media (min-width: $breakpoint-md) {
    padding: 40px;
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &__heading {
    h2 {
      margin-top: 0;
      line-height: 1.3;
      font-size: 24px;
    }
  }

  &__answer {
    display: none;

    &.is-open {
      display: block;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__button {
    background: white;
    border: none;
    color: #8385aa;
    border: 1px solid #c8cbf2;
    font-weight: 700;
    width: 180px;
    font-size: 17px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background 0.12s, color 0.12s, border-color 0.12s;
    outline: 0;
    cursor: pointer;

    &:hover {
      background: #8385aa;
      color: white;
      border-color: #8385aa;
    }

    &:active {
      box-shadow: inset 0 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    }

    &.focus-visible {
      outline: 4px solid rgba(131, 133, 170, 0.5);
    }
  }

  &__button-icon {
    vertical-align: middle;
    margin-left: 8px;

    &.is-rotated svg {
      transform: rotate(180deg);
    }

    svg {
      vertical-align: -5px;
    }
  }
}
