@import "./_vars.scss";

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: #f6f7fd;
  color: #51526f;
}

code {
  background: radial-gradient(circle at 30% 50%, #f2f8ff, #e4edff);
  color: #4b47c7;
  padding: 2px 3px;
  border-radius: 2px;
  font-size: 90%;
  overflow-wrap: break-word;
}

.container {
  max-width: 1000px;
  padding: 0 4%;
  margin: 0 auto;

  @media (min-width: $breakpoint-md) {
    padding: 0 25px;
  }
}

.btn {
  background: white;
  border: none;
  color: #8385aa;
  border: 1px solid #c8cbf2;
  font-weight: 700;
  font-size: 17px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background 0.12s, color 0.12s, border-color 0.12s;
  outline: 0;
  cursor: pointer;

  &:hover {
    background: #8385aa;
    color: white;
    border-color: #8385aa;
  }

  &:active {
    box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  &.focus-visible {
    outline: 4px solid rgba(131, 133, 170, 0.5);
  }

  &__icon {
    vertical-align: middle;
    margin-left: 8px;

    &.is-rotated svg {
      transform: rotate(180deg);
    }

    svg {
      vertical-align: -5px;
    }
  }
}
