$breakpoint-xl: 1200px; // Large desktop
$breakpoint-lg: 992px; // Small desktop
$breakpoint-md: 768px; // iPad portrait
$breakpoint-sm: 576px; // Landscape mobile
$breakpoint-xs: 360px; // Portrait mobile
// Smaller = iPhone SE, small phones
